Flask==2.3.0
flask-cors==4.0.0
Flask-SQLAlchemy==3.0.5
Pillow==10.0.0
python-dotenv==1.0.0
PyJWT==2.8.0
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78

# Optional: if database is needed
# pymysql==1.1.0
# tensorflow==2.15.0

